.inputContainer
{
    position:relative;
    margin-bottom: 30px;
}

.inputContainer span
{
    position:absolute;
    left:0;
    bottom: 18px;
    transition: 0.5s;
    margin-left: 10px;
    background-color: white;
}
.inputContainer label
{
    position:absolute;
    left:0;
    top: 0;
    transition: 0.5s;
    margin-left: 10px;
    background-color: white;
}
.inputContainer input:focus~span
{
    transform:translateX(10px) translateY(-25px);
}
.inputContainer textarea:focus~label
{
    transform:translateX(10px) translateY(-15px);
}